:root {
    --dark-color: #2f282c;
    --white-color: #fff;
    --orange-color: #ff7700;
}

@font-face {
    font-family: 'Single Sleeve';
    src: local('single_sleeve'), local('single_sleeve'),
         url('/fonts/single_sleeve.ttf') format('truetype');
    font-style: normal;
}

body {
    background-image: url('/images/BG-DILATADOS.jpg');
}

.header-email {
    color: var(--white-color);
}

.header-email a {
    color: var(--white-color);
    text-decoration: none;
}

.dilatados-logo {
    margin-top: -4rem;
}

.faixa-ingressos {
    background-color: var(--orange-color);
}

.faixa-ingressos h5 {
    color: var(--white-color);
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    font-family: Single Sleeve;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3)
}

@media (max-width: 500px) {
    .faixa-ingressos h5 {   
        font-size: 3rem;
    }
}

.city-data {
    color: var(--white-color);
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.city-data p {
    margin-bottom: 0;
    font-weight: 700;
}

.data {
    font-size: 1.1rem;
    font-weight: 600;
}

.location {
    font-size: 1rem;
    color: #fff500;
    font-weight: 700;
    line-height: normal;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4)
}

.placa-local {
    background-image: url('/images/placa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    padding: 1.2rem;
    text-align: center;
    font-size: 3rem;
    font-family: Single Sleeve;
    line-height: 1rem;
}

.city-link {
    text-decoration: none;
}

.city-link .city-data {
    cursor: pointer;
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: column;
}

.city-link .city-data:hover {
    transform: scale(1.2) !important;
}

.title-videos {
    font-family: Single Sleeve;
    font-size: 4rem;
}

.thumb-player img {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.thumb-player img:hover {
    transform: scale(1.2) !important;
}

.modal-dialog {
    display: flex;
    justify-content: center;
}

.modal-body {
    padding: 0 !important;
}

.modal-header {
    padding: 0 !important;
    border: none !important;
}

.modal-content {
    width: 90% !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.btn-close {
    position: relative;
    top: 2rem;
    color: white !important;
    z-index: 99999;
    right: 1rem;
    border: initial !important;
    background-color: white !important;
}

.bio {
    background-image: url('/images/degrade.png');
    background-position: center;
    background-size: cover;
}

.bio p {
    font-size: 1.1rem;
    color: var(--white-color);
    font-weight: 300;
    line-height: 2rem;
}

.bio b {
    font-weight: 600;
}

.cta {
    background-color: var(--orange-color);
}

.container-patrocinadores {
    background-color: var(--orange-color);
}

@media (max-width: 1024px) {
    .container-patrocinadores {
       padding-left: 1.5rem;
       padding-right: 1.5rem;
    }
}

.slider-patrocinadores {
    margin: 0 auto;
    max-width: 1080px;
}

.separator {
    border: 0;
    border-bottom: 5px solid #2f282c;
    border-radius: 1rem;
}

.footer {
    background-color: var(--dark-color);
}

.footer span, .footer ul li a{
    color: var(--white-color) !important;
}

.popup {
    position: fixed;
    background-color: var(--white-color);  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    min-width: 60rem;
}

.popup.visible {
    opacity: 1;
    visibility: visible;
}

.popup-header {
    display: flex;
    justify-content: right;
    padding-right: 1rem;
    padding-top: 1rem;
}

.popup-header button {
    background-color: transparent;
    border: none;
    transition: 0.2s all;
}

.popup-header button:hover {
    transform: scale(1.2);
    color: var(--orange-color);
}

.popup-content-one {
    display: flex;
    align-items: flex-end;
}

.popup-content-two {
    padding: 4rem;
    text-align: center;
}

.popup-content-two h3 {
    font-size: 2.5rem;
}

.popup-content-two p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.store-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

.store-buttons a { 
    transition: 0.5s all; 
}

.store-buttons a:hover {
    transform: scale(1.1);
}

.no-scroll {
    overflow: hidden;
}

.no-scroll::before {
   content: '';
   position: absolute;
   background-color: rgba(0, 0, 0, 0.8);
   width: 100%;
   height: 100%;
   top: 0;
   left:0;
}

@media (max-width: 1024px) {
    .popup {
        min-width: 50rem;
    }
}

@media (max-width: 768px) {
    .popup {
        min-width: 30rem;
    }

    .popup-content {
        flex-direction: column-reverse;
    }
}

@media (max-width: 425px) {
    .popup {
        min-width: 22rem;
    }

    .popup-content-two h3 {
        font-size: 2rem;
    }

    .popup-content-two {
        padding: 2rem;
    }
}