:root {
    --dark-color: #2f282c;
    --white-color: #fff;
    --orange-color: #ff7700;
}

@font-face {
    font-family: 'Single Sleeve';
    src: local('single_sleeve'), local('single_sleeve'),
         url('/fonts/single_sleeve.ttf') format('truetype');
    font-style: normal;
}

body {
    background-image: url('/images/BG-DILATADOS.jpg');
}

.header-email {
    color: var(--white-color);
}

.header-email a {
    color: var(--white-color);
    text-decoration: none;
}

.dilatados-logo {
    margin-top: -4rem;
}

.faixa-ingressos {
    background-color: var(--orange-color);
}

.faixa-ingressos h5 {
    color: var(--white-color);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
}

.city-data {
    color: var(--white-color);
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.city-data p {
    margin-bottom: 0;
    font-weight: 700;
}

.data {
    font-size: 1.1rem;
}

.placa-local {
    background-image: url('/images/placa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    padding: 1.2rem;
    text-align: center;
    font-size: 3rem;
    font-family: Single Sleeve;
    line-height: 1rem;
}

.city-link {
    text-decoration: none;
}

.city-link .city-data {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.city-link .city-data:hover {
    transform: scale(1.2) !important;
}

.title-videos {
    font-family: Single Sleeve;
    font-size: 4rem;
}

.thumb-player img {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.thumb-player img:hover {
    transform: scale(1.2) !important;
}

.modal-dialog {
    display: flex;
    justify-content: center;
}

.modal-body {
    padding: 0 !important;
}

.modal-header {
    padding: 0 !important;
    border: none !important;
}

.modal-content {
    width: 90% !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.btn-close {
    position: relative;
    top: 2rem;
    color: white !important;
    z-index: 99999;
    right: 1rem;
    border: initial !important;
    background-color: white !important;
}

.bio {
    background-image: url('/images/degrade.png');
    background-position: center;
    background-size: cover;
}

.bio p {
    font-size: 1.1rem;
    color: var(--white-color);
    font-weight: 300;
    line-height: 2rem;
}

.bio b {
    font-weight: 600;
}

.cta {
    background-color: var(--orange-color);
}

.footer {
    background-color: var(--dark-color);
}

.footer span, .footer ul li a{
    color: var(--white-color) !important;
}