:root {
    --dark-color: #2f282c;
    --white-color: #fff;
    /* --primary-color: #ff7700; */
    --primary-color: #740af6;
}

@font-face {
    font-family: 'Single Sleeve';
    src: local('single_sleeve'), local('single_sleeve'),
         url('/fonts/single_sleeve.ttf') format('truetype');
    font-style: normal;
}

body {
    background-image: url('/images/BG-DILATADOS-ROXO.jpg');
}

.header-email {
    color: var(--white-color);
}

.header-email a {
    color: var(--white-color);
    text-decoration: none;
}

.dilatados-logo {
    margin-top: -4rem;
}

.faixa-ingressos {
    background-color: var(--primary-color);
}

.faixa-ingressos h5 {
    color: var(--white-color);
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    font-family: Single Sleeve;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3)
}

@media (max-width: 500px) {
    .faixa-ingressos h5 {   
        font-size: 3rem;
    }
}

.city-data {
    color: var(--white-color);
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.city-data p {
    margin-bottom: 0;
    font-weight: 700;
}

.data {
    font-size: 1.1rem;
    font-weight: 600;
}

.location {
    font-size: 1rem;
    color: #fff500;
    font-weight: 700;
    line-height: normal;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4)
}

.placa-local {
    background-image: url('/images/placa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    padding: 1.2rem;
    text-align: center;
    font-size: 3rem;
    font-family: Single Sleeve;
    line-height: 1rem;
}

.city-link {
    text-decoration: none;
}

.city-link .city-data {
    cursor: pointer;
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: column;
}

.city-link .city-data:hover {
    transform: scale(1.2) !important;
}

.title-videos {
    font-family: Single Sleeve;
    font-size: 4rem;
}

.thumb-player img {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.thumb-player img:hover {
    transform: scale(1.2) !important;
}

.modal-dialog {
    display: flex;
    justify-content: center;
}

.modal-body {
    padding: 0 !important;
}

.modal-header {
    padding: 0 !important;
    border: none !important;
}

.modal-content {
    width: 90% !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.btn-close {
    position: relative;
    top: 2rem;
    color: white !important;
    z-index: 99999;
    right: 1rem;
    border: initial !important;
    background-color: white !important;
}

.bio {
    background-image: url('/images/degrade-roxo.png');
    background-position: center;
    background-size: cover;
}

.bio p {
    font-size: 1.1rem;
    color: var(--white-color);
    font-weight: 300;
    line-height: 2rem;
}

.bio b {
    font-weight: 600;
}

.cta {
    background-color: var(--primary-color);
}

.container-patrocinadores {
    background-color: var(--primary-color);
}

.slider-patrocinadores {
    margin: 0 auto;
    max-width: 1080px;
}

.separator {
    border: 0;
    border-bottom: 5px solid #2f282c;
    border-radius: 1rem;
}

.footer {
    background-color: var(--dark-color);
}

.footer span, .footer ul li a{
    color: var(--white-color) !important;
}

.popup {
    position: fixed;
    background-image: url('/images/background_pop.jpg');
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, 0.5s all;
    min-width: 60rem;
}

.popup2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, 0.5s all;
    min-width: 60rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.popup-content {
    display: flex;
    flex-direction: row;
}

.popup2.visible {
    opacity: 1;
    visibility: visible;
}

.popup.visible {
    opacity: 1;
    visibility: visible;
}

.popup-header {
    display: flex;
    justify-content: right;
    padding-right: 1rem;
    padding-top: 1rem;
    position: absolute;
    top: 1%;
    right: 23%;
}

.popup-header button {
    background-color: transparent;
    border: none;
    transition: 0.2s all;
}

.popup-header button:hover {
    transform: scale(1.2);
    color: var(--primary-color);
}

.popup-content-one {
    display: flex;
    align-items: flex-end;
    padding-left: 3rem;
}

.popup-content-two {
    padding: 0 4rem;
    text-align: center;
}

.popup-content-two h3 {
    font-size: 2.5rem;
}

.popup-content-two img {
    margin-bottom: 0.5rem;
}

.store-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

.popup-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.store-buttons a { 
    transition: 0.5s all; 
}

.store-buttons a:hover {
    transform: scale(1.1);
}

.no-scroll {
    overflow: hidden;
}

.no-scroll::before {
   content: '';
   position: absolute;
   background-color: rgba(0, 0, 0, 0.8);
   width: 100%;
   height: 100vh;
   top: 0;
   left:0;
}

.present-text {
    text-transform: uppercase;
    color: var(--white-color);
    margin-top: 0.6rem;
    margin-bottom: 2rem;
    letter-spacing: 0.4rem;
    font-weight: 600;
}

.patrocinadores-link:hover {
    transform: scale(1,2);
}

@media (max-width: 1024px) {
    .container-patrocinadores, .container-patrocinadores-no-back  {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
     
    .popup {
        min-width: 50rem;
    }

    .popup2 {
        min-width: 50rem;
    }
}

@media (max-width: 768px) {
    .popup {
        min-width: 30rem;
    }

    .popup2 {
        min-width: 30rem;
    }

    .popup-content {
        flex-direction: column-reverse;
    }

    .popup-header {
        right: 5%;
    }

    .popup-content-one {
        padding-left: 1rem;
    }

    .present-logo {
        margin-top: 1rem;
    }

    .present-text {
        margin-bottom: 0.9rem;
        font-size: 0.8rem;
    }
}

@media (max-width: 500px) {
    .popup {
        min-width: 22rem;
    }

    .popup2 {
        min-width: 22rem;
    }

    .popup-header {
        right: 2%;
    }

    .popup-content-two h3 {
        font-size: 2rem;
    }

    .popup-content-two {
        padding: 0 2rem;
    }

    .popup-content-two .letters {
        max-width: 70%;
    }

    .popup-content-one {
        justify-content: center;
    }

    .popup-content-one img {
        max-width: 70%;
    }

    h3 {
        line-height: 3.5rem !important;
        font-size: 3rem !important;
    }

    .header-email a {
        font-size: 0.8rem;
    }
}